<article>
  <div class="country">

    <div class="btn-group mr-3">
        <div class="btn-group" ngbDropdown role="group" aria-label="Button group with nested dropdown">
        <button class="btn btn-outline-primary specialize" ngbDropdownToggle>Choose Country</button>
        <div class="dropdown-menu specialize" ngbDropdownMenu>
          <button ngbDropdownItem (click)="india()">India</button>
          <button ngbDropdownItem (click)="usa()">USA</button>

        </div>
      </div>
    </div>

  </div>

</article>

  <div class="Books" >
    <div class="table">

      <table>
        <thead>
          <tr>
            <th>Title</th>
            <th>MPAA Rating</th>
            <th>Studio</th>
            <th>Time</th>
            <th>Price</th>
          </tr>
         </thead>
        <tbody *ngFor="let dvd of dvds" >
          <tr>
           <td>{{dvd.title}}</td>
           <td>{{dvd.mpaa_rating}}</td>
           <td>{{dvd.studio}}</td>
           <td>{{dvd.time}}</td>
           <td>{{dvd.price}}</td>
          </tr>
        </tbody>
      </table>

    </div>

  </div>
  