<article>
  <div class="country">

    <div class="btn-group mr-3">
        <div class="btn-group" ngbDropdown role="group" aria-label="Button group with nested dropdown">
        <button class="btn btn-outline-primary specialize" ngbDropdownToggle>Choose Country</button>
        <div class="dropdown-menu specialize" ngbDropdownMenu>
          <button ngbDropdownItem (click)="india()">India</button>
          <button ngbDropdownItem (click)="usa()">USA</button>

        </div>
      </div>
    </div>

  </div>

</article>

  <div class="Books" >
    <div class="table">

      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Brand</th>
            <th>Color</th>
            <th>Price</th>
          </tr>
         </thead>
        <tbody *ngFor="let bike of bikes" >
          <tr>
           <td>{{bike.name}}</td>
           <td>{{bike.brand}}</td>
           <td>{{bike.color}}</td>
           <td>{{bike.price}}</td>
          </tr>
        </tbody>
      </table>

    </div>

  </div>
  