<article>
    <div class="country">
  
      <div class="btn-group mr-3">
          <div class="btn-group" ngbDropdown role="group" aria-label="Button group with nested dropdown">
          <button class="btn btn-outline-primary specialize" ngbDropdownToggle>Choose Country</button>
          <div class="dropdown-menu specialize" ngbDropdownMenu>
            <button ngbDropdownItem (click)="india()">India</button>
            <button ngbDropdownItem (click)="usa()">USA</button>
  
          </div>
        </div>
      </div>
  
    </div>
  
  </article>
  
<div class="Books" >
    <div class="table">

      <table>
        <thead>
          <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Price</th>
            <th>Isbn</th>
            <th>Publisher</th>
          </tr>
         </thead>
        <tbody *ngFor="let book of books" >
          <tr>
           <td>{{book.Title}}</td>
           <td>{{book.Author}}</td>
           <td>{{book.price}}</td>
           <td>{{book.ISBN}}</td>
           <td>{{book.publisher}}</td>
          </tr>
        </tbody>
      </table>

    </div>

  </div>